
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	border: 0;
}

.hidden{
	opacity: 0;
	visibility: hidden;
}

// Loading spinner //////////////////////////////////////////////////

.spinner {
	position: relative;
	animation: rotator 1.4s linear infinite;
}

.spinner .path {
	stroke: var(--blue);
	stroke-dasharray: 187;
	stroke-dashoffset: 0;
	transform-origin: center;
	animation: dash 1.4s ease-in-out infinite;
}

@keyframes rotator {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(270deg); }
}

@keyframes dash {
	0% { stroke-dashoffset: 187; }
	50% {
		stroke-dashoffset: 45;
		transform:rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		transform:rotate(450deg);
	}
}

@keyframes sneaky-link-animation {
	0% { color: var(--black); }
	85% { color: var(--black); }
	89% { color: var(--blue); }
	93% { color: var(--black); }
	96% { color: var(--blue); }
	100% { color: var(--blue); }
}
