:root{
	// Colors
	--black: #26282B;
	--white: #fff;

	--grey-100: #F7FAFC;
	--grey-200: #EDF2F7;
	--grey-300: #E2E8F0;
	--grey-400: #CBD5E0;
	--grey-500: #A0AEC0;
	--grey-600: #718096;
	--grey-700: #4A5568;
	--grey-800: #2D3748;
	--grey-900: #1A202C;

	--blue: #0053fa; // #004FED; //#0052CC;
	--ligth-blue: #F7FBFF;

	--red: #ff4336; //#FF5733;

	--success: #28a745;
	--danger: #dc3545;
	--warning: #ffc107;
	--info: #17a2b8;

	// Fonts
	--font-family: 'Inter', Helvetica, Arial, sans-serif;
	--body-color: #1a202c;

	// Other
	--hover: #32325d;

	--border-color: #EEEEEE;
	--border-color-light: #F5F5F6;
	--border-radius: 4px;

	--sidebar-width: 300px;

	--box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

	--cubic-bezier: cubic-bezier(0.7, 0, 0.3, 1);
}
